Source: python-pyvfs
Section: unknown
Priority: extra
Maintainer: Log2Timeline <log2timeline-dev@googlegroups.com>
Build-Depends: debhelper (>= 7.0.0), python, python-setuptools
Standards-Version: 3.9.2
Homepage: http://code.google.com/p/pyvfs/

Package: python-pyvfs
Architecture: any
Depends: python, libprotobuf7, python-protobuf, libewf-python, libqcow-python, libvhdi-python, libvshadow-python, pytsk3, ${python:Depends}
Description: Python-based Virtual File System (VFS) module
 PyVFS is a virtual file system (VFS) Python module to provide access to
 read-only file-system objects from various storage media types. The goal
 of PyVFS is to provide a generic interface for accessing file-system objects,
 for which it uses several back-ends that provide the actual implementation
 of the various storage media types, volume systems and file systems.
 
