sudo: required
dist: trusty
language: python
python:
  - "2.7"
before_install:
  - if test `uname -s` = 'Linux'; then sudo add-apt-repository ppa:gift/dev -y && sudo apt-get update -q && sudo apt-get install -y libbde-python libewf-python libfsntfs-python libqcow-python libsigscan-python libsmdev-python libsmraw-python libvhdi-python libvmdk-python libvshadow-python libvslvm-python python-construct python-coverage python-coveralls python-crypto python-docopt python-lzma python-protobuf python-pytsk3 python-requests python-six; fi
script:
  - if test `uname -s` = 'Linux' && test `python -V 2>&1 | sed 's/Python \([0-9][0-9]*\)[.][0-9][0-9]*[.][0-9][0-9]*.*/\1/'` = '2'; then coverage run --source=dfwinreg --omit="*_test*,*__init__*,*test_lib*" ./run_tests.py; else ./run_tests.py; fi
  - ./setup.py build
  - ./setup.py sdist
  - ./setup.py bdist
after_success:
  - if test `uname -s` = 'Linux' && test `python -V 2>&1 | sed 's/Python \([0-9][0-9]*\)[.][0-9][0-9]*[.][0-9][0-9]*.*/\1/'` = '2'; then coveralls --verbose; fi
