environment:
  matrix:
  - TARGET: unittests
    MACHINE_TYPE: "x86"
    PYTHON: "C:\\Python38"
    PYTHON_VERSION: "3.8"
    L2TBINARIES_TRACK: "testing"
  - TARGET: unittests
    MACHINE_TYPE: "amd64"
    PYTHON: "C:\\Python38-x64"
    PYTHON_VERSION: "3.8"
    L2TBINARIES_TRACK: "testing"

install:
- cmd: '"C:\Program Files\Microsoft SDKs\Windows\v7.1\Bin\SetEnv.cmd" /x86 /release'
- cmd: "%PYTHON%\\python.exe -m pip install -U pip setuptools wheel"
- cmd: "%PYTHON%\\python.exe -m pip install pywin32 WMI"
- cmd: "%PYTHON%\\python.exe %PYTHON%\\Scripts\\pywin32_postinstall.py -install"
- cmd: git clone https://github.com/log2timeline/l2tdevtools.git ..\l2tdevtools
- cmd: if [%PYTHON_VERSION%]==[3.8] (
    mkdir dependencies &&
    set PYTHONPATH=..\l2tdevtools &&
    "%PYTHON%\\python.exe" ..\l2tdevtools\tools\update.py --download-directory dependencies --machine-type %MACHINE_TYPE% --msi-targetdir "%PYTHON%" --track "%L2TBINARIES_TRACK%" PyYAML cffi cryptography dfdatetime dtfabric idna libbde libewf libfsapfs libfsntfs libfvde libfwnt libluksde libqcow libsigscan libsmdev libsmraw libvhdi libvmdk libvshadow libvslvm mock pbr pytsk3 six )

build: off

test_script:
- cmd: if [%TARGET%]==[unittests] (
    "%PYTHON%\\python.exe" run_tests.py )
