include ACKNOWLEDGEMENTS AUTHORS LICENSE README
include run_tests.py
include utils/check_dependencies.py
exclude .gitignore
exclude *.pyc
recursive-include config *
recursive-include dfvfs *.proto
recursive-exclude dfvfs *.pyc
recursive-include test_data *
