include ACKNOWLEDGEMENTS AUTHORS LICENSE.TXT
include run_tests.py
include utils/check_dependencies.py
exclude .gitignore
exclude *.pyc
recursive-include config *
recursive-include pyvfs *.proto
recursive-exclude pyvfs *.pyc
recursive-include test_data *
