Source: dfvfs
Section: python
Priority: extra
Maintainer: Log2Timeline maintainers <log2timeline-maintainers@googlegroups.com>
Build-Depends: debhelper (>= 9), python-all (>= 2.7~), python-setuptools, python3-all (>= 3.4~), python3-setuptools
Standards-Version: 3.9.5
X-Python-Version: >= 2.7
X-Python3-Version: >= 3.4
Homepage: https://github.com/log2timeline/dfvfs

Package: python-dfvfs
Architecture: all
Depends: libbde-python (>= 20140531), libewf-python (>= 20131210), libfsntfs-python (>= 20151130), libfvde-python (>= 20160719), libfwnt-python (>= 20160418), libqcow-python (>= 20131204), libsigscan-python (>= 20150627), libsmdev-python (>= 20140529), libsmraw-python (>= 20140612), libvhdi-python (>= 20131210), libvmdk-python (>= 20140421), libvshadow-python (>= 20160109), libvslvm-python (>= 20160109), python-backports.lzma, python-crypto (>= 2.6), python-dfdatetime (>= 20180324), python-dtfabric (>= 20170524), python-pysqlite2, python-pytsk3 (>= 20160721), python-yaml (>= 3.10), ${python:Depends}, ${misc:Depends}
Description: Python 2 module of dfVFS
 dfVFS, or Digital Forensics Virtual File System, provides read-only access to
 file-system objects from various storage media types and file formats. The goal
 of dfVFS is to provide a generic interface for accessing file-system objects,
 for which it uses several back-ends that provide the actual implementation of
 the various storage media types, volume systems and file systems.

Package: python3-dfvfs
Architecture: all
Depends: libbde-python3 (>= 20140531), libewf-python3 (>= 20131210), libfsntfs-python3 (>= 20151130), libfvde-python3 (>= 20160719), libfwnt-python3 (>= 20160418), libqcow-python3 (>= 20131204), libsigscan-python3 (>= 20150627), libsmdev-python3 (>= 20140529), libsmraw-python3 (>= 20140612), libvhdi-python3 (>= 20131210), libvmdk-python3 (>= 20140421), libvshadow-python3 (>= 20160109), libvslvm-python3 (>= 20160109), python3-crypto (>= 2.6), python3-dfdatetime (>= 20180324), python3-dtfabric (>= 20170524), python3-pytsk3 (>= 20160721), python3-yaml (>= 3.10), ${python3:Depends}, ${misc:Depends}
Description: Python 3 module of dfVFS
 dfVFS, or Digital Forensics Virtual File System, provides read-only access to
 file-system objects from various storage media types and file formats. The goal
 of dfVFS is to provide a generic interface for accessing file-system objects,
 for which it uses several back-ends that provide the actual implementation of
 the various storage media types, volume systems and file systems.
